body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: "Trebuchet MS";
    background-image: url("images/bg2.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: #535880;
    width: 70%;
    height: 5vh;
    border-radius: 20px;
}
ul{
    list-style: none;
    margin:0;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
li{
    margin:0;
}
li a:link{
    color: antiquewhite;
    text-decoration: none;
}
li a:visited{
    color: antiquewhite;
    text-decoration: none;
}
li a:hover{
    color: #9eb0b5;
    text-decoration: none;
}
header{
    margin-top: 20px;
    height: 25vh;
    width: 70%;
    background-color: rgba(250, 235, 215, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header h1{
    font-size: 2.5em;
}
h1{
    margin:0;
    margin-left:5px;
    text-shadow: #636669 0.2em 0.2em 0.2em;
}
#div2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 30vh;
    margin-top: 20px;
}
#div2 img{
    filter: drop-shadow(#636669 0.2em 0.2em 0.2em);
    border-radius: 20px;
    border: 1px solid antiquewhite;
    width:auto;
    height: 100%;
}
header p{
    font-weight: bold;
    margin:0;
}
#apropos{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(250, 235, 215, 0.3);
    border-radius: 20px;
    margin-left: 20px;
}
#titre_apropos{
    align-self: start;
    margin-top:-35px;
}
#apropos p{
    margin-top:0;
    margin-bottom: 0;
    margin-left: 15px;
}
section{
    height: 70vh;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
#article1{
    width:calc(50% - 10px);
    background-color: rgba(250, 235, 215, 0.3);
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.drapeau{
    margin-left:10px;
}
#article1 h1{
    font-size: 2em;
    margin:0;
    align-self: start;
}
#article1 ul{
    height:80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
}
#article1 ul li{
    margin-left: -20px;
}
#article2{
    width:calc(50% - 10px);
    background-color: rgba(250, 235, 215, 0.3);
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#article2 h1{
    font-size: 2em;
    margin:0;
    align-self: start;
}
#article2 ul{
    height:80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
}
#article2 ul li{
    margin-left: -20px;
}
#progress1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:70%;
    height:20vh;
    margin-top: 20px;
}
#progress1a{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:70%;
}
#progress1a div{
    width:20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#progress1a img{
    max-width:100%;
    max-height: 100%;
}
#progress1b{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:20%;
}
#progress1b .divp2{
    background-color: rgb(193, 209, 209);
    border-radius: 20px;
    width:20%;
}
#progress2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:70%;
    height:20vh;
    margin-top: 20px;
    margin-bottom: 20px;
}
#progress2a{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:70%;
}
#progress2a div{
    width:20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#progress2a img{
    max-width:90%;
    max-height: 90%;
}
#progress2b{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:20%;
}
#progress2b .divp2{
    background-color: rgb(193, 209, 209);
    border-radius: 20px;
    width:20%;
}
#progress2_html{
    width:45%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-image: linear-gradient(to left, #e34c25, #ffa26f);
}
#progress2_css{
    width:37%;
    height: 100%;
    background-image: linear-gradient(to left, #006fb9, #90d2ff);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
#progress2_js{
    width:15%;
    height: 100%;
    background-image: linear-gradient(to left, #62a714, #aaef63);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
#progress2_bs{
    width:15%;
    height: 100%;
    background-image: linear-gradient(to left, #5b4282, #d2b3fe);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
#progress2_git{
    width:15%;
    height: 100%;
    background-image: linear-gradient(to left, #f03c2e, #ff9878);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
#progress2_en{
    width:66%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #00247D, #FFFFFF, #CF142B);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
#progress2_it{
    width:33%;
    height: 100%;
    background-image: linear-gradient(to right, #009246, #F1F2F1, #CE2B37);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
#progress2_ge{
    width:33%;
    height: 100%;
    background-image: linear-gradient(to bottom, #000000, #FF0000, #FFCC00);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
#vie_culturelle{
    height: 25vh;
    width: 70%;
    background-color: rgba(250, 235, 215, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
#vie_culturelle ul{
    height:80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;
    padding-left:20px;
}
footer{
    height: 15vh;
    width: 70%;
    background-color: rgba(250, 235, 215, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
footer ul{
    height:80%;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer ul li{
    text-align: center;
}
footer a{
    color:#3f5973!important;
}
footer a:hover{
    color:#3f5973!important;
    text-decoration: none!important;
    border: 1px dashed #3f5973;
    background-color: antiquewhite!important;
}
@media(max-width:1100px) and (min-width:800px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    nav{
        width: 100%;
        height: 20%;
        display: flex;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        height:100%;
    }
    header{
        height: 15vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    section{
        width: 100%;
        height:50vh;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
    }
    #photom{
        width:100%;
    }
    #div2{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;
        width: 100%;
        margin-left: 0;
    }
    #apropos{
        width:fit-content;
        height:15vh;
        margin-top:20px;
        margin-left: 0;
        padding-top: 10px;
    }
    #article1{
        height: 100%;
        width: 100%;
        padding-bottom: 20px;
    }
    #article2{
        height: 100%;
        width: 100%;
        margin-top: 20px;
        padding-bottom: 20px;
    }
    #progress1{
        height:15vh;
    }
    #progress2{
        height:10vh;
    }
    #vie_culturelle{
        width:100%;
        height: 15vh;
    }
    footer{
        width:100%;
        height: 10vh;
    }
    p, li{
        font-size: 1.8em;
    }
}