footer a{
    color:#3f5973!important;
}
footer a:hover{
    color:#3f5973!important;
    text-decoration: none!important;
    border: 1px dashed #3f5973;
    background-color: antiquewhite!important;
}
.bg-antique{
    background-color: rgba(250,235,215,0.4);
}
.rounded-perso{
    border-radius: 40px;
}
h1{
    text-align: center;
    word-wrap: break-word;
    text-shadow: #636669 0.2em 0.2em 0.2em;
}
body{
    background-image:url(images/bg2.jpg);
    background-position:100% 0%;
    background-attachment: fixed;
    background-size: cover;
    margin:0;
}
.shadowing{
    box-shadow: #636669 0.5em 0.5em 0.5em;
}
h3{
    text-align: center;
    font-size: 1.10em;
    font-style: italic;
    word-wrap: break-word;
}
h2{
    text-shadow: #636669 0.2em 0.2em 0.2em;
}
.centrage{
    text-align: center;
}
.drapeau{
    margin-left: 15px;
}
ul{
    height: 85%;
}