#div_header{
    background-color: rgba(255,255,255,0.3);

}
.art{
    background-color: rgba(255,255,255,0.2);
}
.div_footer{
    background-color: rgba(255,255,255,0.2);
}
.rounded-perso{
    border-radius: 40px;
}
h1{
    text-align: center;
    word-wrap: break-word;
    text-shadow: #636669 0.2em 0.2em 0.2em;
}
body{
    vertical-align: middle;
    justify-content: center;
    background-image:url(images/bg2.jpg);
    background-position:100% 0%;
    background-attachment: fixed;
}
.shadowing{
    box-shadow: #636669 0.5em 0.5em 0.5em;
}
h3{
    text-align: center;
    font-size: 1.10em;
    font-style: italic;
    word-wrap: break-word;
}
h2{
    word-wrap: break-word;
    text-shadow: #636669 0.2em 0.2em 0.2em;
}
.centrage{
    text-align: center;
}
.salete_de_barre_de_progression{
    margin:-15px;
}
.drapeau{
    margin-left: 15px;
}